@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root{
    --primaryTextColor : #232e35;
    --secondaryTextColor : #656d72;

    --borderColor : #f1f1f1;
    --lineColor : #d9d9d9;

    --primaryBackgroundColor : #fff;
    --secondaryBackgroundColor : #fbfbfb;
    --thirdBackgroundColor : #f5f3fe;
    
    --primaryIconColor : #7e74f1;
    --primaryIconColorHover : #5d51e8;

    --sectionPadding : 6rem 0;
    --itemBorderRadius : 0.7rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
}

h1,h2,h3,h4,h5,h6, strong{
    color: var(--primaryTextColor);
}

p{
    font-size: 1rem;
    line-height: 1.9rem;
}

p, span, label, input, textarea, li{
    color: var(--secondaryTextColor);
}

a{
    text-decoration: none;
}

.main-container{
    width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width : 120px) {
    .main-container{
        width: 90%;
    }
}


/*title*/
.section-title{
    margin: 1rem 0 1rem;
    font-size: 2rem;
}

.pre-title{
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: var(--secondaryTextColor);
    position: relative;
    padding-left: 40px;
    width: fit-content;
    font-weight: 400;
    font-size: 0.9rem;
}

.pre-title::before{
    content: "";
    width: 30px;
    height: 1px;
    background: var(--lineColor);
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
}

/*layout*/
.grid-3{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 3rem;
}

/*logo dan navigasi menu*/

.nav{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.nav ul{
    list-style: none;
    display: flex;
    gap: 3rem;
    font-size: auto;
    font-weight: 700;
}

.logo{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
}

.logo a{
    color: var(--primaryTextColor);
}

nav ul li{
    display: flex;
    align-items: center;
}

nav ul li a{
    color: var(--primaryTextColor);
}


/*hero section*/
#bagian{
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.bagian-nama {
    font-size: 3rem;
    font-weight: 700;
    margin: .5rem 0 1rem;
}

.bagian-nama span{
    color: var(--primaryIconColor);
}

.bagian-kanan img{
    width: 120%;
    padding-left: 90px;
    align-items: center;
}

.bagian-kanan {
    display: flex;
    justify-content: center;
}

/* services*/
#informations{
    background-color: var(--secondaryBackgroundColor);
    padding: var(--sectionPadding);
}

.informations .pre-title{
    margin: 0 auto;
   
}

.informations-title{
    text-align: center;
}

.information{
    padding: 2rem 2rem;
    text-align: center;
    background: var(--primaryBackgroundColor);
    border-radius: var(--itemBorderRadius);
    
}

.information h4{
    margin: 1.5rem 0;
    font-weight: 500;
    font-size: 1.05rem;
}

.informations-cover{
    height: 200px;
}

.informations-cover img{
    height: 100%;
    width: 100%;
}


/*gallery*/
#gallery{
    padding: var(--sectionPadding);
}

.gallery{
    border-radius: var(--itemBorderRadius);
}

.gallery .pre-title{
    margin: 0 auto;
    gap: 1rem;
}

.gallery-title{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 3px;
}

.gallery{
    padding: 2rem 2rem;
    text-align: center;
    background: var(--primaryBackgroundColor);
    border-radius: var(--itemBorderRadius);
}

.gallery-cover{
    height: 200px;
}

.gallery-cover img{
   height: 100%;
   width: 120%; 
}

.gallery-cover h4{
    font-weight: 10%;
    font-size: 1rem;
    color: var(--primaryTextColor);
    padding-top: 10px;
    text-align: center;
}

/*contact*/

#contact{
    padding: var(--sectionPadding);
    background-color: var(--secondaryBackgroundColor);
}

.contact{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px, 1fr));
    gap: 3rem;
}

.contact-form div{
    margin-bottom: 1.4rem;
}

.contact-form input,
.contact-form textarea{
    width: 100%;
    padding: 0.75rem 1.3rem;
    font-family: "Roboto", sans-serif;
    background: var(--primaryBackgroundColor);
    border: 1px solid var(--borderColor);
    border-radius: 3px;
    resize: none;
}

.contact-form input::placeholder, 
.contact-form textarea::placeholder{
    color: #9d9fa1;
}

.contact-form input:focus,
.contact-form textarea:focus{
    outline: none;
    border: 1px solid #7d7d7d;
}


.btn-submit{
    width: 100%;
    padding: .75rem 1.3rem;
    background-color: var(--primaryIconColor);
    color: #FFF;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.btn-submit:hover{
    background: var(--primaryIconColorHover);
}


/*contact*/
.contact-item-icon{
    background: var(--primaryBackgroundColor);
    width: 53px;
    height: 53px;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-item-icon svg{
    fill: var(--primaryIconColor);
}

.contact-item-detail h4{
    padding: 10px;
}


/*footer*/
footer{
    padding: 4rem 0;
    background: var(--primaryBackgroundColor);
    text-align: center;
}

.bawah-ikon {
    margin-bottom: 1rem;
}

.bawah-ikon a{
    margin: 0.5rem;
}

.bawah-ikon svg{
    fill: #3e3f40;
}

.bawah-ikon a:hover svg {
    fill: #000 ;
}
